name: Labeler

on:
  pull_request_target:

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.GTIHUB_TOKEN }}
          sync-labels: true
